<div id="logo">
<h1>Pilot</h1>
</div>

<div class="menu navbar">
	<div class="nav-bar">
	    <div class="nav-bar-inner">
	        <span class="element">Twitter</span>

	        <span class="divider"></span>

	        <ul class="menu">
				<li><a href="#" class="active">Home</a></li>
			    <li><a href="#/topics">Topics</a></li>
			    <li><a href="#/userTimeline">My Timeline</a></li>
			    <li><a href="#/people">People</a></li>
			    <li><a href="#/profile">Profile</a></li>
	            <li data-role="dropdown">
	                <a href="#">Item 1</a>
	                <ul class="dropdown-menu">
	                    <li><a href="#">SubItem</a></li>
	                    ...
	                    <li><a href="#">SubItem</a></li>
	                </ul>
	            </li>
	        </ul>
	    </div>
	</div>
</div>
    
<div style="clear: both;"></div>
<div class="page">
  <div class="twitter-widget"></div>
</div>
<div style="clear: both;"></div>
<div class="footer"></div>
